@{
  Layout = "_Layout";
}

@using HairSalon.Models

<a class="btn btn-light" href="/stylists">View all stylists</a>
<a class="btn btn-primary" href="/client/@Model.stylist_id/create">Add new Client</a>
<h1>
  Stylist: @Model.name
</h1>

<hr>

<div class="form-group">
  <form action="/appointment/@Model.stylist_id/create" method="post">
    <label for="client">Client</label>
    <select class="form-control" name="client_id" id="client_id" required>
      @foreach (Client client in ViewBag.clients)
      {
        <option value="@client.client_id">@client.name</option>
      }
    </select>
    <label for="date">Date</label>
    <input class="form-control" type="datetime-local" name="date" id="date" required>
    <label for="price">Price</label>
    <input class="form-control" type="number" step="0.01" min="0.00" value="0.00" name="price" id="price" required>
    <br>
    <button class="btn btn-primary" type="submit">Add new appointment</button>
  </form>
</div>

<hr>

@if (ViewBag.appointments.Count > 0)
{
  <h2>Appointments:</h2>
} else {
  <h2>@Model.name has no appointments yet</h2>
}

@foreach (Appointment appointment in ViewBag.appointments)
{
  <div class="card">
    <div class="card-body">
      @foreach (Client client in ViewBag.clients)
      {
        @if (client.client_id == appointment.client_id)
        {
          <h3 class="card-title">@client.name</h3>
          <p class="card-text">Price: $@appointment.price</p>
          <p class="card-text">Date: @appointment.date</p>
        }
      }
      <a class="card-text" href="/appointment/delete/@appointment.appointment_id">Delete</a>
    </div>
  </div>
}

<hr>

@if (ViewBag.clients.Count > 0)
{
  <h2>Clients:</h2>
} else {
  <h2>@Model.name has no clients yet</h2>
}


<ul class="list-group">
@foreach (Client client in ViewBag.clients)
{
  <li class="list-group-item">
    <p>@client.name</p>
    <a href="/client/delete/@client.client_id">Delete</a>
  </li>
}
</ul>